####
# Ignore CVS related files

.CVS
CVS

####
# Linux  Ignored binary and build folder
*.o
linux/ccextractor
linux/depend
windows/debug/**
windows/release/**

####
# Visual Studio project Ignored files

*.suo
*.sdf
*.opensdf
*.user
