####
# Ignore tests tmp files and results
tests/runtest
tests/**/*.gcda
tests/**/*.gcno

####
# Ignore CVS related files

.CVS
CVS

####
# Linux  Ignored binary and build folder
*.o
linux/ccextractor
linux/depend
windows/Debug/**
windows/Release/**
windows/Release-OCR/**
windows/Debug-OCR/**
windows/x64/**
windows/ccextractor.VC.db
build/

####
# Visual Studio project Ignored files

*.suo
*.sdf
*.opensdf
*.user
*.opendb

####
# Ignore the header file that is updated upon build
src/lib_ccx/compile_info_real.h

#### Ignore windows OCR libraries and folders
windows/libs/leptonica/**
windows/libs/tesseract/**

# Ctags
*.tags*

# Vagrant
.vagrant/
