#######################################################
# Version 0.01
#
# To enable required option please uncomment option
#


# The Input Source tag option gives ability to user
# to take input from file, standard input or network
# This tag takes number in its input and their meanings
# are following
# 0 = file
# 1 = stdin
# 2 = network

INPUT_SOURCE=0

# The Buffer Input tag
# This tag takes number in its input.

#BUFFER_INPUT=0

# The Direct Rollup tag
# This tag takes number in its input and their meanings
# are following
# 0 = no
# 1 = yes

#DIRECT_ROLLUP=

#The No font Color Tag
# This tag takes number in its input and their meanings
# are following
# 0 = no
# 1 = yes

#NOFONT_COLOR=

#The No type Setting Tag
# This tag takes number in its input and their meanings
# are following
# 0 = no
# 1 = yes

#NOTYPE_SETTING=

# The Codec Tag takes the preference of codec
# tag CCX_CODEC_ANY is by default
# This tag takes number in its input and their meanings
# are following
# 0 = CCX_CODEC_ANY
# 1 = CCX_CODEC_TELETEXT
# 2 = CCX_CODEC_DVB

#CODEC=

# The NO Codec Tag do not use codec specified
# tag CCX_CODEC_NONE is by default
# This tag takes number in its input and their meanings
# are following
# 1 = CCX_CODEC_TELETEXT
# 2 = CCX_CODEC_DVB
# 3 = CCX_CODEC_NONE

#NOCODEC=

# OUTPUT_FORMAT tag specify format of output
# by default output format is srt
# This tag takes number in its input and their meanings
# are following
# 0 = CCX_OF_RAW
# 1 = CCX_OF_SRT (default)
# 2 = CCX_OF_SAMI
# 3 = CCX_OF_TRANSCRIPT
# 4 = CCX_OF_RCWT
# 5 = CCX_OF_NULL
# 6 = CCX_OF_SMPTETT
# 7 = CCX_OF_SPUPNG
# 8 = CCX_OF_DVDRAW

#OUTPUT_FORMAT=

# Start credit Text is shown at start
# this tag take text in input
# Please note text is limited to one line in configuration
# file

#START_CREDIT_TEXT=

# Start credit do not start before specified time in tag
# this tag only accepts SS, MM:SS or HH:MM:SS

#START_CREDIT_NOT_BEFORE=

# Start credits do not start after specified time in tag
# this tag only accepts SS, MM:SS or HH:MM:SS

#START_CREDIT_NOT_AFTER=

# Start credits run for at least time specied in tag
# this tag only accepts SS, MM:SS or HH:MM:SS

#START_CREDIT_FOR_ATLEAST=

# Start credits are displayed for atmost time specified in tag
# this tag only accepts SS, MM:SS or HH:MM:SS

#START_CREDIT_FOR_ATMOST=

# End Credit text are shown at beginning
# this tag take text in input
# Please note text is limited to one line in configuration
# file

#END_CREDITS_TEXT=

# End credits run for at least time specied in tag
# this tag only accepts SS, MM:SS or HH:MM:SS

#END_CREDITS_FOR_ATLEAST

# End credits are displayed for atmost time specified in tag
# this tag only accepts SS, MM:SS or HH:MM:SS

#END_CREDITS_FOR_ATMOST

# Is Video edited or split by tool
# By default its 1, ccextractor will process input files in
# sequence as if they were all one large file i.e
# split by a generic, non video-aware tool. If you
# are processing video hat was split with a editing
# tool, use 0 so ccextractor doesn't try to rebuild
# the original timing.
# This tag take 0 or 1 in input

#VIDEO_EDITED=1

# Use GOP for timing instead of PTS. This only applies
# to Program or Transport Streams with MPEG2 data and
# overrides the default PTS timing,GOP timing is always
# used for Elementary Streams.
#
# This tag takes number in its input and their meanings
# are following
#  0 = use pts for time (when reasonable)
#  1 = use gop for time (when reasonable)
# -1 = Never use GOP timing (use PTS), even if ccextractor
#      detects GOP timing is the reasonable choice.

#GOP_TIME=0

# Fix padding - some cards (or providers, or whatever)
# seem to send 0000 as CC padding instead of 8080. If you
# get bad timing, this might solve it.
#
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#FIX_PADDINDG=0

# If you hate the repeated lines caused by the roll-up
# emulation, you can have ccextractor write only one
# line at a time, getting rid of these repeated lines.
#
# This tag take number in its input and their meanings
# are following
# 0 = no (default)
# 1 = yes

#NO_ROLL_UP=0

# Roll-up captions can consist of 2, 3 or 4 visible
# lines at any time (the number of lines is part of
# the transmission). If having 3 or 4 lines annoys
# you can use this tag to force the decoder to always
# use 1, 2 or 3 lines. Note that 1 line is not
# a real mode rollup mode, so CCExtractor does what
# it can.
# In value = 1 the start timestamp is actually the timestamp
# of the first character received which is possibly more
# accurate.
#
# This tag take number in its input and there meaning
# are following
# 1
# 2
# 3

#FORCED_RU

# This tag trim line
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#TRIM=0

#
# Report progress and interesting events to stderr
# in a easy to parse format. This is intended to be
# used by other programs. See docs directory for details
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#GUI_MODE_REPORTS=0

# Suppress the output of the progress bar
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#NO_PROGRESS_BAR=0

# Sentence capitalization. Use if you hate
# ALL CAPS in subtitles
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#SENTENCE_CAP=0

#this tag take Dictionary file name containing words in each line

#CAP_FILE=Dictionary.txt

# Program number(pid) to be selected from ts file
# This tag take number in its input and there meaning
# are following
# -1 = automaticaly selected
#  X = actual program pid in ts file

#PROGRAM_NUMBER=-1

# select automaticaly program from ts file
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#AUTO_PROGRAM=0

# Stream number(pid) to be selected from file
# This tag take number in its input and there meaning
# are following
# -1 = automaticaly selected
#  X = actual stream pid in ts file

#STREAM=-1

#Write number of  screenfuls and terminate processing
#This tag take number of secreen

#SCREEN_TO_PROCESS=100

# start extraction from the time specified
# this tag only accepts SS, MM:SS or HH:MM:SS

#START_AT

# End extraction at the time specified
# this tag only accepts SS, MM:SS or HH:MM:SS

#END_AT

# If no CC packets are detected based on the PMT, try
# to find data in all packets by scanning.
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#INVASTIGATE_PACKET=0

# If the video was recorder using a Hauppauge card, it
# might need special processing. This parameter will
# force the special treatment.

#HAUPPAUGE_MODE=0

# MP4 files the closed caption data can be embedded in
# the video track or in a dedicated CC track. If a
# dedicated track is detected it will be processed instead
# of the video track. If you need to force the video track
# to be processed instead use this option.
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#MP4_VIDEO_TRACK

# File need to be encoding in which format
# This tag take number in its input and there meaning
# are following
# 0 = no
# 0 = CX_ENC_UNICODE
# 1 = CCX_ENC_LATIN_1
# 2 = CCX_ENC_UTF_8

#ENCODING=2

# Use the pic_order_cnt_lsb in AVC/H.264 data streams
# to order the CC information.  The default way is to
# use the PTS information.  Use this switch only when
# needed.
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#USE_PIC_ORDER=0

# The MythTV branch is needed for analog captures where
# the closed caption data is stored in the VBI, such as
# those with bttv cards (Hauppage 250 for example). This
# is detected automatically so you don't need to worry
# about this unless autodetection doesn't work for you.
# This tag take number in its input and there meaning
# are following
# 0 = NO Myth
# 1 = Myth
# 2 = Auto

#AUTO_MYTH=2

# Read the captions from the MPEG2 video stream rather
# than the captions stream in WTV files
# This tag take number in its input and there meaning
# are following
# 0 = no
# 1 = yes

#WTV_MPEG2=0

# This tag take output file name

#OUTPUT_FILENAME=output.srt

# Don't try to find out the stream for subtitles
# use the provided pid
# Takes number as input

#DATA_PID=0x100

# Instead of selecting the stream by its PID, select it
# by its type (pick the stream that has this type in
# the PMT
# Takes number as input

#STREAM_TYPE=0x6

# Assume the data is of this type, don't autodetect. This
# parameter may be needed if DATA_PID or STREAM_TYPE tag
# is set and CCExtractor cannot determine how to process
# the stream. The value may be 2 (MPEG video) or
# 6 (MPEG private data).
#
# Tekes number in input

#TS_FORCED_STREAM_TYPE=0x6

# This tag specify the format of date
# 0 = ODF_NONE
# 1 = ODF_HHMMSS
# 2 = ODF_SECONDS
# 3 = ODF_DATE
# 4 = ODF_HHMMSSMS ( HH:MM:SS,MILIS .srt style )


#DATE_FORMAT=4
