name: Build CCExtractor on Mac

on:
  workflow_dispatch:
  push:
    paths:
    - '.github/workflows/build_mac.yml'
    - '**.c'
    - '**.h'
    - '**Makefile**'
    - 'mac/**'
    - 'package_creators/**'
    - 'src/rust/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - '.github/workflows/build_mac.yml'
    - '**.c'
    - '**.h'
    - '**Makefile**'
    - 'mac/**'
    - 'package_creators/**'
    - 'src/rust/**'
jobs:
  build_shell:
    runs-on: macos-latest
    steps:
    - name: Install dependencies
      run: brew install pkg-config autoconf automake libtool tesseract leptonica gpac
    - uses: actions/checkout@v6
    - name: build
      run: ./build.command
      working-directory: ./mac
    - name: Display version information
      run: ./ccextractor --version
      working-directory: ./mac
    - name: Prepare artifacts
      run: mkdir ./mac/artifacts
    - name: Copy release artifact
      run: cp ./mac/ccextractor ./mac/artifacts/
    - uses: actions/upload-artifact@v5
      with:
        name: CCExtractor mac build
        path: ./mac/artifacts
  build_autoconf:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: brew install pkg-config autoconf automake libtool gpac
    - name: run autogen
      run: ./autogen.sh
      working-directory: ./mac
    - name: configure
      run: ./configure --enable-debug
      working-directory: ./mac
    - name: make
      run: make
      working-directory: ./mac
    - name: Display version information
      run: ./ccextractor --version
      working-directory: ./mac
  cmake:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: dependencies
      run: brew install gpac
    - uses: actions/checkout@v6
    - name: cmake
      run: mkdir build && cd build && cmake ../src
    - name: build
      run: make -j$(nproc)
      working-directory: build
    - name: Display version information
      run: ./build/ccextractor --version
  cmake_ocr_hardsubx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: brew install pkg-config autoconf automake libtool tesseract leptonica gpac ffmpeg
    - name: cmake
      run: |
        mkdir build && cd build
        cmake -DWITH_OCR=ON -DWITH_HARDSUBX=ON ../src
    - name: build
      run: |
        make -j$(nproc)
      working-directory: build
    - name: Display version information
      run: ./build/ccextractor --version
  build_rust:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: cache 
        uses: actions/cache@v4
        with:
          path: |
            src/rust/.cargo/registry
            src/rust/.cargo/git
            src/rust/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: build
        run: cargo build 
        working-directory: ./src/rust